@import url("./_theme/section-subtitle_theme_dark.css");

.section-subtitle{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 20px auto 0px;
    font-size: 24px;
    line-height:34px;
}