.feinman__link{
    position: absolute;
    top: 50%;
    right: 48px;
    font-size: 36px;
    line-height: 51px;
    text-decoration: none;
    font-weight: normal;
    color: #000000;
}

.feinman__link:hover {
    opacity: .6;
  }